#header{
	height: 116px;
	background: purple;
}

#top{
	height: 33px;
	line-height: 33px;
	background: #F5F5F5;
	border-top: 1px solid #CFCFCF;
	border-bottom: 1px solid #CFCFCF;
	color: #707070;
}

#top a{
	color: #666666;
}

#top a:hover{
	color: orange;
}

#nav{
	height: 81px;
	line-height: 60px;
	background: white;
}

#left{
	float: left;
	margin-left: 5px;
}

#right{
	float: right;
}

#header li{
	float: left;
}

.span1{
	color: #118855;
	font-size: 15px;
}

.fen{
	width: 0px;
	height: 20px;
	border-left: 1px solid darkgray;
	margin: 0 10px;
}

.li1{
	margin-left: 8px;
}

.img1{
	float: left;
}

.right2{
	margin-right: 36px;
	float: right;
	clear: right;
	position: relative;
}

.right2 li{
	font-size: 17px;
	margin-left: 78px;
}

.right2 li a{
	color: #666666;
}

.right2 li a:hover{
	color: orange;
}

.right2 img{
	position: absolute;
	top: 9px;
}
